extends layout
block content
 h1= title
 if (toShow == null)
  h2 No instance to delete
 else
  - let itemid = toShow._id
  - let itemName = toShow.itemName
  - let itemcategory = toShow.itemcategory
  - let itemPrice = toShow.itemPrice
  - let actionid = "/resource/items/" + itemid
  script let actionid = "#{actionid}"
  div
   div.row
    div(class='itemAttr mr-3') Item ID is:
    div #{itemid}
   div.row
    div(class='itemAttr mr-3') Item Name is:
    div #{itemName}
   div.row
    div(class='itemAttr mr-3') Item Category is:
    div #{itemcategory}
   div.row
    div(class='itemAttr mr-3') Item Price is:
    div #{itemPrice}
 button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
 button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
 script.
  function cancel() {
   // Go back to the home page for the costume collection
   window.location.href='/items'
  }
 script.
  function deleteOnid() {
   console.log("starting delete")
   // delete first
   fetch(actionid, {
    method: 'DELETE' // Don't need a body for the delete
   }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
    alert("Delete succeded")
    window.location.href='/items'
    // TODO handle body
   }).catch((error) => {
   // TODO handle error
    alert("Delete failed " + error )
   });
   }
