extends layout

block content
  h1= title
  - const result = results
  script. 
    function buy(index){
      alert("You purchased items "+ (index+1));
    }
  div.container-fluid
    div.row
        each item, index in results
          div.col-sm-2(onclick = `buy(${index})`)
             p Item Name: #{item.itemName}
             p Itemcategory: #{item.itemcategory}
             p ItemPrice: $#{item.itemPrice.toFixed(2)}
             